# Node
node_modules/
.next/
out/
npm-debug.log*
yarn-error.log*

# Java
backend/target/
*.class
*.log
*.jar
*.war

# IDE
.idea/
.vscode/
*.iml

# Env
.env
.env.local
.env.*.local

# Local Spring config
backend/src/main/resources/application.properties
